.expense-item {
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
  border: 0.5px solid white;
  border-radius: 12px;
}

.expenses {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 10px;
  text-align: center;
}


.expense-item__description {
  text-align: center;
}

.expense-item h2 {
  font-size: 2rem;
  margin: 0 1rem;
  color: white;
}

.expense-item__price{
  font-size: 1rem;
  margin-bottom:50px;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  margin: auto;
  width:fit-content;
}

@media (min-width: 600px) {
  .expense-item__description {
    align-items: center;
    text-align: center;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
    color: black;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}